<html>
<head>
<title>Login</title>
</head>
<body>
<h1>Login page</h1>
<form method="post" action="/login">
Email ID: <input type="text" name="userEmailID" value="<%= userEmailID %>"/></br>
Password: <input type="text" name="userPassword" value="<%= userPassword %>"/></br>
<input type="submit" value="Login"/>
</form>
</body>
</html>