<html>
<head>
<title>SignUp</title>
</head>
<body>
<h1>SignUp page</h1>
<form method="post" action="/signup">
First name: <input type="text" name="userFirstName"/></br>
Last name: <input type="text" name="userLastName"/></br>
Email ID: <input type="text" name="userEmailID"/></br>
Password: <input type="text" name="userPassword"/></br>
City: <input type="text" name="userCity"/></br>
Province: <input type="text" name="userProvince"/></br>
<input type="submit" value="Sign Up"/>
</form>
</body>
</html>